/* -------GENERALE------- */

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

.button {
    border: none;
    border-radius: 40px;
    padding: 7px 12px 7px 12px;
}


/* -------HEADER------- */
header {
    padding-bottom: 3px;
}

/* -------NAVBAR------- */
nav {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    padding-bottom: 18px;
    height: 30px;
    background-color: #255EE8;
}

.navigation {
    width: 15%;
    height: 100%;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

.navigation a {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: white;
}

.navigation button {
    background-color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 12px 7px 12px;
    color: rgb(87, 85, 85);
}

.navigation:nth-child(1) {
    display: flex;
    justify-content: flex-start;
}

.navigation:nth-child(2) {
    width: 45%;
    display: flex;
    justify-content: center;
}

.navigation:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

/* -------JUMBO------- */
.container-intestazione {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 60px;
    background-image: url("img/jumbo.png");
    background-size: cover;
}

.container-intestazione h1 {
    font-size: 45px;
}

.gallery {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 16px;
}

.gallery p {
    padding-top: 35px;
    padding-bottom: 35px;
}

.button-mac {
    background-color: white;
    border: none;
    border-radius: 40px;
    padding: 16px 19px 16px 19px;
    color: rgb(87, 85, 85);
    font-size: 20px;
}

.button-browser {
    background-color: #23272A;
    border: none;
    border-radius: 40px;
    padding: 16px 19px 16px 19px;
    color: rgb(230, 227, 227);
    font-size: 20px;
    margin-left: 20px;
}


/* -------CONTENUTO------- */
.sezione1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-1 {
    width: 53%;
}

.box-2 {
    width: 27%;
    min-height: 340px;
}

.box-2 h1 {
    font-size: 45px;
    margin-bottom: 24px;
}

.box-2 p {
    line-height: 24px;
    font-size: 16px;
    color: #23272A;
}

.sezione2 {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sezione4 {
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.box-singolo {
    min-height: 650px;
    width: 80%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box-singolo h1 {
    font-size: 45px;
    margin-bottom: 24px;
}

.box-singolo p {
    line-height: 24px;
    font-size: 16px;
    color: #23272A;
}

.box-singolo h2 {
    margin-top: -10px;
    font-size: 26px;
}

.box-singolo button {
    background-color: #7086D6;
    border: none;
    border-radius: 40px;
    padding: 16px 19px 16px 19px;
    color: white;
    font-size: 20px;
    margin-top: 48px;
    margin-bottom: 70px;
}

.sezione5 {
    background-color: #222;
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: solid 1px white;
    justify-content: center;
}

.foto1 {
    background-color: rgb(216, 138, 138);
    width: 27%;
    border: dotted black;
    height: 350px;
}

.foto2 {
    background-color: rgb(28, 149, 121);
    width: 13%;
    border: dotted white;
    height: 350px;
}

.note-legali {
    background-color: #222;
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.info-inutili {
    background-color: rgb(58, 198, 166);
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    align-items: center;
}

.logo-footer {
    padding: 5px;
    background-color: rgb(229, 156, 156);
    border: dotted black;
}

.bottone {
    padding: 5px;
    background-color: rgb(229, 156, 156);
    border: dotted black;
}
